body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background:  #ddebf8;
    color: #2b2839;
    border-bottom: 10px solid #d8cefe;
    border-radius: 8px;
}

.ing {
    width: 150px;
}
